<!DOCTYPE html>
<html>
  <head>
<style>
  
  @import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
  
  body {
    background-color: #f2f2f2;
    font-family: 'Josefin Sans', sans-serif;
  }
  
  .imgcenter {
    display: block;
    margin: 0 auto;
}

.fld{
    background:none;
    border:1px solid #ccc;
    border-radius: 10px;
    width:96%;
    padding:10px;
    position:relative;
    margin-top:10px;
    margin-bottom:10px;
    font-size:15px;
    font-family: 'Josefin Sans', sans-serif;
  }
  
  .basicButton{
    background:#ff4d4d;
    color:#fff;
    font-family: 'Josefin Sans', sans-serif;
    border:none;
    border-radius:15px;
    font-size:18px;
    padding:8px;
    padding-left:20px;
    padding-right:20px;
    margin:10px;
    text-decoration:none;
  }
  
  .basicButton:hover{
    cursor:pointer;
  }
  
  .actButton{
    background:none;
    color:#ff4d4d;
    font-family: 'Josefin Sans', sans-serif;
    border:solid 2px #ff4d4d;
    border-radius:15px;
    font-size:18px;
    padding:10px;
    padding-top:14px;
    padding-left:40px;
    padding-right:40px;
    margin:10px;
    margin-top:20px;
    text-decoration:none;
  }
  
  .actButton:hover{
    background:#ff4d4d;
    color:#fff;
    cursor: pointer;
  }
  
</style>


  <title>CommitMatch | Dating with a purpose.</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <span class="notice"><%= notice %></span>
       <span class="alert"><%= alert %></span>

<%= yield %>

</body>
</html>
